@model IEnumerable<TGH.Models.City>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Cities</h1>

<p class="create-btn">
    <a asp-action="Create">Create New</a>
</p>
<table  class="table">
    <thead class="admin-table-header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
