  <!-- Slider Start -->
<div class="section slider-section-page">
</div>
<!-- Slider End -->
<!-- All Courses Start -->
<div class="section section-padding-02">
    <div class="container">
        <!-- All Courses Top Start -->
        <div class="courses-top">
            <!-- Section Title Start -->
            <div class="section-title shape-01">
                <h2 class="main-title">
                    <span>
                        @language.Getkey("TITLE_CONTACT_1")
                    </span> @language.Getkey("TITLE_CONTACT_2")
                </h2>
            </div>
            <!-- Section Title End -->
        </div>
        <!-- All Courses Top End -->
        <!-- All Courses Tabs Menu Start -->
        <!-- Contact Map Start -->
        <!--  <div class="section section-padding-02">
              <div class="container">

                   Contact Map Wrapper Start
                  <div class="contact-map-wrapper">
                      <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Mission%20District%2C%20San%20Francisco%2C%20CA%2C%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                  </div>
                   Contact Map Wrapper End
              </div>
          </div>-->
        <!-- Contact Map End -->
        <!-- Contact Start -->
        <div class="section section-padding">
            <div class="container">
                <!-- Contact Wrapper Start -->
                <div class="contact-wrapper">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <!-- Contact Info Start -->
                            <div class="contact-info">
                                <!-- Single Contact Info Start -->
                                <div class="single-contact-info">
                                    <div class="info-icon">
                                        <i class="flaticon-phone-call"></i>
                                    </div>
                                    <div class="info-content">
                                        <h6 class="title">@language.Getkey("CONTACT_PHONENUMBER").</h6>
                                        <p><a href="tel:12345678">(962) 123 123 123</a></p>
                                    </div>
                                </div>
                                <!-- Single Contact Info End -->
                                <!-- Single Contact Info Start -->
                                <div class="single-contact-info">
                                    <div class="info-icon">
                                        <i class="flaticon-email"></i>
                                    </div>
                                    <div class="info-content">
                                        <h6 class="title">@language.Getkey("CONTACT_EMAIL").</h6>
                                        <p><a href="mailto:contactcenter@together.support">@language.Getkey("CONTACT_CENTER")</a></p>
                                    </div>
                                </div>
                                <!-- Single Contact Info End -->
                                <!-- Single Contact Info Start -->
                                <div class="single-contact-info">
                                    <div class="info-icon">
                                        <i class="flaticon-pin"></i>
                                    </div>
                                    <div class="info-content">
                                        <h6 class="title">@language.Getkey("CONTACT_ADDRESS").</h6>
                                        <p>@language.Getkey("ADDRESS_AMMAN")</p>
                                    </div>
                                </div>
                                <!-- Single Contact Info End -->
                            </div>
                            <!-- Contact Info End -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Contact Form Start -->
                            <div class="contact-form">
                                <h3 class="title">
                                    @language.Getkey("STAY_IN_CONTACT_1")
                                    <span>@language.Getkey("STAY_IN_CONTACT_2")</span>
                                </h3>
                                <div class="form-wrapper">
                                    <form id="contact-form" action="https://htmlmail.hasthemes.com/humayun/edule-contact.php" method="POST">
                                        <!-- Single Form Start -->
                                        <div class="single-form">
                                            <input type="text" name="name" placeholder="@language.Getkey("CONTACT_NAME")">
                                        </div>
                                        <!-- Single Form End -->
                                        <!-- Single Form Start -->
                                        <div class="single-form">
                                            <input type="email" name="email" placeholder="@language.Getkey("CONTACT_EMAIL")">
                                        </div>
                                        <!-- Single Form End -->
                                        <!-- Single Form Start -->
                                        <div class="single-form">
                                            <input type="text" name="subject" placeholder="@language.Getkey("CONTACT_SUBJECT")">
                                        </div>
                                        <!-- Single Form End -->
                                        <!-- Single Form Start -->
                                        <div class="single-form">
                                            <textarea name="message" placeholder="@language.Getkey("CONTACT_MESSAGE")"></textarea>
                                        </div>
                                        <!-- Single Form End -->
                                        <p class="form-message"></p>
                                        <!-- Single Form Start -->
                                        <div class="single-form">
                                            <button class="btn btn-primary btn-hover-dark w-100">
                                                @language.Getkey("SEND")
                                                @if (language.Arabic)
                                                {
                                                    <i class="flaticon-left" style="padding-right: 30px; padding-left: 0px;"></i>
                                                }
                                                else
                                                {
                                                    <i class="flaticon-right" style="padding-right: 30px; padding-left: 0px;"></i>
                                                }
                                            </button>
                                        </div>
                                        <!-- Single Form End -->
                                    </form>
                                </div>
                            </div>
                            <!-- Contact Form End -->
                        </div>
                    </div>
                </div>
                <!-- Contact Wrapper End -->
            </div>
        </div>
        <!-- Contact End -->
        <!-- All Courses Tabs Menu End -->
        <br><br>
    </div>
</div>
<!-- All Courses End -->