@using TGH.Models
@model DonationCreate

<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <style type="text/css">
        .AClass {
            position: absolute;
        }
    </style>
</head>

<!-- Page Banner Start -->
<div class="section page-banner">

    <!-- <img class="shape-1 animation-round" src="~/maan/assets/images/shape/shape-8.png" alt="Shape"> -->

    <img class="shape-2" src="~/maan/assets/images/shape/@CultureInfo.CurrentUICulture.Name-shape-23.png" alt="Shape">

    <div class="container">
        <!-- Page Banner Start -->
        <div class="page-banner-content">
            <ul class="breadcrumb">
                <li><a href="/home">@language.Getkey("NAV_HOME")</a></li>
                <li class="active">@language.Getkey("DONATION_NEW")</li>
            </ul>
            <h2 class="title">@language.Getkey("DONATION_FORM")</h2>
        </div>
        <!-- Page Banner End -->
    </div>

    <!-- Shape Icon Box Start -->
    <div class="shape-icon-box">

        <div class="box-content">
            <div class="box-wrapper">
                <img src="~/maan/assets/images/form.svg" alt="Shape" width="50">
            </div>
        </div>

        <img class="icon-shape-2" src="~/maan/assets/images/shape/shape-6.png" alt="Shape">

    </div>
    <!-- Shape Icon Box End -->
    <!-- <img class="shape-3" src="~/maan/assets/images/shape/shape-24.png" alt="Shape"> -->

    <img class="shape-author" src="~/maan/assets/images/author/author-11.jpg" alt="Shape">

</div>
<!-- Page Banner End -->
<div class="section section-padding">
    <div class="container">
        <!-- Register & Login Wrapper Start -->
        <div class="register-login-wrapper">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Register & Login Images Start -->
                    <div class="register-login-images">
                        <div class="register-login-form">
                            <h3 class="title">@language.Getkey("DONATION_FORM")</h3>
                            <div class="form-wrapper">
                                <form asp-action="add" method="post" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="single-form" dir="rtl" style="width: 100%;">
                                        <div class="newest-select">
                                            <select asp-for="CategoryId" class="form-control" asp-items='ViewData["Categories"] as List<SelectListItem>'>
                                            </select>
                                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="single-form">
                                        <input asp-for="Title" placeholder="@language.Getkey("DONATION_FORM_TITLE")">
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                        <div class="single-form">
                                            <textarea asp-for="Description" maxlength="200" placeholder="@language.Getkey("DONATION_FORM_DESCRIPTION")" rows="4"></textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                        <div class="single-form" dir="rtl" style="width: 100%;">
                                            <div class="newest-select">
                                                <select asp-for="CityId" class="form-control" asp-items='ViewData["Cities"] as List<SelectListItem>'>
                                                </select>
                                                <span asp-validation-for="CityId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="single-form" style="display: flex; justify-content: space-between;">
                                            <input type="text" id="txtFilenames" placeholder="@language.Getkey("DONATION_FORM_PICTURE")" style="width: 70%;">
                                            <div id="btnUpload" class="btn btn-primary" style="margin-top:0px">
                                                <input type="file" class="hidden" id="formFiles" name="formFiles" style="position:fixed;" accept="image/png, image/jpeg">
                                                <label class="custom-file-label">@language.Getkey("FORM_UPLOAD")</label>
                                            </div>
                                        </div>
                                        <div id="dvImage" style="position: relative; display: none;">
                                            <button type="button" onclick="DeleteImage()" class="close AClass">
                                                <span>&times;</span>
                                            </button>
                                            <img id="image_upload_preview" width="200" height="200" src="" alt="your image" />
                                        </div>
                                    </div>
                                    <div class="single-form">
                                        <input asp-for="ShowName" placeholder="@language.Getkey("DONATION_SHOWMYNAME")">&nbsp;
                                        <label asp-for="ShowName">@language.Getkey("DONATION_SHOWMYNAME")</label>
                                    </div>
                                    <!-- Single Form End -->
                                    <br>
                                    <!-- Single Form Start -->
                                    <div class="message-btn">
                                        <button type="submit" class="btn btn-primary btn-hover-dark" style="margin: 0px 8px;">@language.Getkey("FORM_SAVE")</button>
                                        <a href="/home" class="btn btn-secondary btn-hover-primary" style="margin: 0px 8px;">@language.Getkey("FORM_CANCEL")</a>
                                    </div>
                                    <!-- Single Form End -->
                                </form>
                                <br><br>
                            </div>
                        </div>
                    </div>
                    <!-- Register & Login Images End -->
                </div>
            </div>
        </div>
        <!-- Register & Login Wrapper End -->
    </div>
</div>

<script>
    $("#btnUpload").on('click', function () {
        $("#formFiles").click();
    });

    $("#formFiles").on('change', function () {
        var fileNames = '';

        $("#txtFilenames").val('');

        jQuery.each($("#formFiles")[0].files, function (i, val) {
            fileNames += val.name;

            if (i != $("#formFiles")[0].files.length - 1) {
                fileNames += ",";
            }
        });

        $("#txtFilenames").val(fileNames);

        if ($("#formFiles")[0].files[0] && $("#formFiles")[0].files[0] != '' && $("#formFiles")[0].files[0].size > 0) {
            $("#dvImage").show();
        }
        else {
            $("#txtFilenames").val('');
            $("#dvImage").hide();
        }

        readURL(this);
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {

                if (e.target.result != '') {
                    $('#image_upload_preview').attr('src', e.target.result);
                    $("#dvImage").show();
                }
                else {
                    $('#image_upload_preview').attr('src', e.target.result);
                    $("#txtFilenames").val('');
                    $("#dvImage").hide();
                }
            }

            reader.readAsDataURL(input.files[0]);
        }
    }


    function DeleteImage() {
        $('#image_upload_preview').attr('src', '');
        $("#txtFilenames").val('');
        $("#dvImage").hide();
    }

</script>